In [11]:
import pandas as pd
import numpy as np

In [12]:
df_lmerged = pd.read_csv('london_merged.csv')
df_lmerged.head(5)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [13]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [14]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])
df_lmerged['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

In [15]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [16]:
df = df_lmerged.iloc[:, 1:]
df.head(5)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4

In [17]:
df['wind_speed']**2 + 10       #Operaciones normales a una columna 
np.sin(df['wind_speed']**2) + 10    #Operaciones mas complejas como seno

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

In [18]:
#df['t1']-df['t2']
#df['t1'].iloc[::2]        # .iloc[::2]Separa filas de 2 en dos 
df['t1'].iloc[::2]-df['t2']     #Resta los pares y los demas los pone en NAN

0        1.0
1        NaN
2        0.0
3        NaN
4        2.0
        ...
17409    NaN
17410    4.0
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

In [19]:
df['t1'].iloc[::3].sub(df['t2'], fill_value = 1000)     #Ahora los valores nulos los rellenamos con 1000 y se restan con t2

0           1.0
1         997.5
2         997.5
3           0.0
4        1000.0
          ...
17409       4.0
17410     999.0
17411     998.5
17412       4.0
17413     999.0
Length: 17414, dtype: float64

## 
    +    add()
    -    sub(), subtract()
    *    mul(), multiply()
    /    truediv(), div(), divide()
    //   floordiv()
    %    mod()
    **   pow()

In [20]:
df['t1']/df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

In [21]:
df['t1'].dot(df['t1'])        #Algebra lineal, producto punto

3247652.777777778

In [22]:
def fun_1(x):      #Se crea una funcion 
  y = x**2 + 1
  return y

In [23]:
fun_1(10)      #Se aplica

101

In [24]:
np.arange(-5,6)      #Se crea un rango

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [25]:
np.arange(-5,6).shape

(11,)

In [26]:
fun_1(np.arange(-5,6))      #Se aplica la func con el rango

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26], dtype=int32)

In [27]:
df['hour'].apply(fun_1)    #ahora la aplicamos en una columna del df

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [29]:
df['hour'].apply(lambda x: x**2 +1)     #Ahora aplicando la func lambda

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [30]:
def fun_2(x, a=1, b=0):
  y = x**2 + a*x + b
  return y

In [31]:
fun_2(10, a = 20, b= -100)

200

In [32]:
df['hour'].apply(fun_2, args = (20, -100))

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

In [23]:
df['hour'].apply(fun_2, a =20, b= -100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

In [40]:
a,b=20,-100
df.hour.apply(lambda x: x**2 + a*x + b)        #Funcion dos aplicada con lambda

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

In [24]:
df['t1'].apply(lambda x: x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [25]:
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

In [26]:
df.apply(lambda x: x.mean(), axis=1)   #Por filas

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [27]:
df.apply(lambda x: x.std(), axis=1)

0         60.787517
1         49.012045
2         48.779692
3         36.249751
4         30.642427
            ...
17409    325.831944
17410    168.138964
17411    104.504505
17412     70.027296
17413     45.710320
Length: 17414, dtype: float64

In [28]:
df.apply(lambda x: x['t1']-x['t2'], axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [29]:
df.applymap(lambda x: x/1000)        #Se aplica en todo el df con applymap

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,0.182,0.0030,0.0020,0.0930,0.0060,0.003,0.0,0.001,0.003,0.000
1,0.138,0.0030,0.0025,0.0930,0.0050,0.001,0.0,0.001,0.003,0.001
2,0.134,0.0025,0.0025,0.0965,0.0000,0.001,0.0,0.001,0.003,0.002
3,0.072,0.0020,0.0020,0.1000,0.0000,0.001,0.0,0.001,0.003,0.003
4,0.047,0.0020,0.0000,0.0930,0.0065,0.001,0.0,0.001,0.003,0.004
...,...,...,...,...,...,...,...,...,...,...
17409,1.042,0.0050,0.0010,0.0810,0.0190,0.003,0.0,0.000,0.003,0.019
17410,0.541,0.0050,0.0010,0.0810,0.0210,0.004,0.0,0.000,0.003,0.020
17411,0.337,0.0055,0.0015,0.0785,0.0240,0.004,0.0,0.000,0.003,0.021
17412,0.224,0.0055,0.0015,0.0760,0.0230,0.004,0.0,0.000,0.003,0.022
17413,0.139,0.0050,0.0010,0.0760,0.0220,0.002,0.0,0.000,0.003,0.023