In [1]:
import pandas as pd
import numpy as np

In [2]:
df_pob = pd.read_csv('poblacion.csv')
df_pob.head(5)

          Country  year         pop
0     Afghanistan  2015  34413603.0
1         Albania  2015   2880703.0
2         Algeria  2015  39728025.0
3  American Samoa  2015     55812.0
4         Andorra  2015     78011.0

In [10]:
df_pob.groupby(['Country'])['pop'].sum().to_frame()

                                pop
Country
Afghanistan           143,265,517.0
Albania                11,496,637.0
Algeria               163,897,056.0
American Samoa            222,638.0
Andorra                   309,315.0
...                             ...
Virgin Islands (U.S.)     429,465.0
West Bank and Gaza     17,661,072.0
Yemen, Rep.           109,999,607.0
Zambia                 66,448,378.0
Zimbabwe               56,520,782.0

[260 rows x 1 columns]

In [8]:
pd.options.display.float_format = '{:,.1f}'.format     #Acomodamos los numeros 
df_pob.head(5)

          Country  year          pop
0     Afghanistan  2015 34,413,603.0
1         Albania  2015  2,880,703.0
2         Algeria  2015 39,728,025.0
3  American Samoa  2015     55,812.0
4         Andorra  2015     78,011.0

In [11]:
df_pob['year'] = pd.Categorical(df_pob['year'].apply(str))    #Asignamos la columna year como categorica

In [12]:
df_pob.dtypes

Country      object
year       category
pop         float64
dtype: object

In [28]:
idx_filtro = df_pob['Country'].isin(['Aruba','Colombia'])    #Boolean Filtering
idx_filtro.head(5)

0    False
1    False
2    False
3    False
4    False
Name: Country, dtype: bool

In [27]:
df_sample = df_pob[idx_filtro]          #Boolean Filtering
df_sample.head(5)

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0

In [30]:
df_pob.query('Country == "Aruba" | Country == "Colombia"').sort_values(by= 'Country')  #Otra forma de filtrar con query

      Country  year          pop
9       Aruba  2015    104,341.0
269     Aruba  2016    104,872.0
529     Aruba  2017    105,366.0
789     Aruba  2018    105,845.0
42   Colombia  2015 47,520,667.0
302  Colombia  2016 48,171,392.0
562  Colombia  2017 48,901,066.0
822  Colombia  2018 49,648,685.0

In [31]:
df_sample = df_sample.set_index(['Country','year']).sort_index()     #Creacion de multiples indices 
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [32]:
df_sample.loc['Colombia',:]

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [33]:
df_sample.loc['Colombia',:].loc['2016',:]

pop   48,171,392.0
Name: 2016, dtype: float64

In [34]:
df_sample.xs(['Aruba'])     #Es lo mismo que la busqueda con loc, pero es mas facil con dos indices

           pop
year
2015 104,341.0
2016 104,872.0
2017 105,366.0
2018 105,845.0

In [35]:
df_sample.xs(['Aruba','2018'])

pop   105,845.0
Name: (Aruba, 2018), dtype: float64

In [36]:
df_sample.xs('2018', level='year')

                  pop
Country
Aruba       105,845.0
Colombia 49,648,685.0

In [37]:
df_countries = df_pob.set_index(['Country','year']).sort_index(ascending = [True,True])   #Ahora se aplican los multiples indes a todo nuestro df
df_countries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

In [38]:
ids = pd.IndexSlice
df_countries.loc[ids['Aruba':'Austria','2015':'2017'],:].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

In [39]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [40]:
df_countries.index.get_level_values(1)

CategoricalIndex(['2015', '2016', '2017', '2018', '2015', '2016', '2017',
                  '2018', '2015', '2016',
                  ...
                  '2017', '2018', '2015', '2016', '2017', '2018', '2015',
                  '2016', '2017', '2018'],
                 categories=['2015', '2016', '2017', '2018'], ordered=False, name='year', dtype='category', length=1040)

In [41]:
df_countries['pop']['Colombia']['2018']

49648685.0

In [42]:
df_countries.sum(level='year')

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

In [46]:
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [47]:
df_sample.unstack('year')

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0

In [48]:
df_sample.unstack('Country')

              pop
Country     Aruba     Colombia
year
2015    104,341.0 47,520,667.0
2016    104,872.0 48,171,392.0
2017    105,366.0 48,901,066.0
2018    105,845.0 49,648,685.0