In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns

In [3]:
pd.options.display.float_format = '{:,.1f}'.format

In [4]:
df = sns.load_dataset('diamonds')
df.head(5)

   carat      cut color clarity  depth  table  price   x   y   z
0    0.2    Ideal     E     SI2   61.5   55.0    326 4.0 4.0 2.4
1    0.2  Premium     E     SI1   59.8   61.0    326 3.9 3.8 2.3
2    0.2     Good     E     VS1   56.9   65.0    327 4.0 4.1 2.3
3    0.3  Premium     I     VS2   62.4   58.0    334 4.2 4.2 2.6
4    0.3     Good     J     SI2   63.3   58.0    335 4.3 4.3 2.8

In [5]:
df.groupby('cut').mean()

           carat  depth  table   price   x   y   z
cut
Fair         1.0   64.0   59.1 4,358.8 6.2 6.2 4.0
Good         0.8   62.4   58.7 3,928.9 5.8 5.9 3.6
Ideal        0.7   61.7   56.0 3,457.5 5.5 5.5 3.4
Premium      0.9   61.3   58.7 4,584.3 6.0 5.9 3.6
Very Good    0.8   61.8   58.0 3,981.8 5.7 5.8 3.6

In [6]:
df.groupby('cut').median()

           carat  depth  table   price   x   y   z
cut
Fair         1.0   65.0   58.0 3,282.0 6.2 6.1 4.0
Good         0.8   63.4   58.0 3,050.5 6.0 6.0 3.7
Ideal        0.5   61.8   56.0 1,810.0 5.2 5.3 3.2
Premium      0.9   61.4   59.0 3,185.0 6.1 6.1 3.7
Very Good    0.7   62.1   58.0 2,648.0 5.7 5.8 3.6

In [7]:
df.groupby('cut')['carat'].count()  #min o max

cut
Fair          1610
Good          4906
Ideal        21551
Premium      13791
Very Good    12082
Name: carat, dtype: int64

In [8]:
for cut,group in df.groupby('cut')['price']:
    grouped_sized = group.mean()
    print(f'Cut: {cut}, Price: {grouped_sized} \n')

Cut: Fair, Price: 4358.757763975155

Cut: Good, Price: 3928.864451691806

Cut: Ideal, Price: 3457.541970210199

Cut: Premium, Price: 4584.2577042999055

Cut: Very Good, Price: 3981.7598907465654

In [11]:
df.groupby(['cut','color'])['price'].mean().to_frame()  #multindice

                  price
cut       color
Fair      D     4,291.1
          E     3,682.3
          F     3,827.0
          G     4,239.3
          H     5,135.7
          I     4,685.4
          J     4,975.7
Good      D     3,405.4
          E     3,423.6
          F     3,495.8
          G     4,123.5
          H     4,276.3
          I     5,078.5
          J     4,574.2
Ideal     D     2,629.1
          E     2,597.6
          F     3,374.9
          G     3,720.7
          H     3,889.3
          I     4,452.0
          J     4,918.2
Premium   D     3,631.3
          E     3,538.9
          F     4,324.9
          G     4,500.7
          H     5,216.7
          I     5,946.2
          J     6,294.6
Very Good D     3,470.5
          E     3,214.7
          F     3,778.8
          G     3,872.8
          H     4,535.4
          I     5,255.9
          J     5,103.5

In [12]:
df.groupby(['cut','color'])['price'].aggregate(['min',np.mean,max])

                 min    mean    max
cut       color
Fair      D      536 4,291.1  16386
          E      337 3,682.3  15584
          F      496 3,827.0  17995
          G      369 4,239.3  18574
          H      659 5,135.7  18565
          I      735 4,685.4  18242
          J      416 4,975.7  18531
Good      D      361 3,405.4  18468
          E      327 3,423.6  18236
          F      357 3,495.8  18686
          G      394 4,123.5  18788
          H      368 4,276.3  18640
          I      351 5,078.5  18707
          J      335 4,574.2  18325
Ideal     D      367 2,629.1  18693
          E      326 2,597.6  18729
          F      408 3,374.9  18780
          G      361 3,720.7  18806
          H      357 3,889.3  18760
          I      348 4,452.0  18779
          J      340 4,918.2  18508
Premium   D      367 3,631.3  18575
          E      326 3,538.9  18477
          F      342 4,324.9  18791
          G      382 4,500.7  18741
          H      368 5,216.7  18795
          I      334 5,946.2  18823
          J      363 6,294.6  18710
Very Good D      357 3,470.5  18542
          E      352 3,214.7  18731
          F      357 3,778.8  18777
          G      354 3,872.8  18818
          H      337 4,535.4  18803
          I      336 5,255.9  18500
          J      336 5,103.5  18430

In [13]:
def mean_kilo(x):
    return np.mean(x)/1000

In [14]:
df.groupby(['cut','color'])['price'].aggregate([min,np.mean,max,mean_kilo,lambda x: np.mean(x)/1000])

                 min    mean    max  mean_kilo  <lambda_0>
cut       color
Fair      D      536 4,291.1  16386        4.3         4.3
          E      337 3,682.3  15584        3.7         3.7
          F      496 3,827.0  17995        3.8         3.8
          G      369 4,239.3  18574        4.2         4.2
          H      659 5,135.7  18565        5.1         5.1
          I      735 4,685.4  18242        4.7         4.7
          J      416 4,975.7  18531        5.0         5.0
Good      D      361 3,405.4  18468        3.4         3.4
          E      327 3,423.6  18236        3.4         3.4
          F      357 3,495.8  18686        3.5         3.5
          G      394 4,123.5  18788        4.1         4.1
          H      368 4,276.3  18640        4.3         4.3
          I      351 5,078.5  18707        5.1         5.1
          J      335 4,574.2  18325        4.6         4.6
Ideal     D      367 2,629.1  18693        2.6         2.6
          E      326 2,597.6  18729        2.6         2.6
          F      408 3,374.9  18780        3.4         3.4
          G      361 3,720.7  18806        3.7         3.7
          H      357 3,889.3  18760        3.9         3.9
          I      348 4,452.0  18779        4.5         4.5
          J      340 4,918.2  18508        4.9         4.9
Premium   D      367 3,631.3  18575        3.6         3.6
          E      326 3,538.9  18477        3.5         3.5
          F      342 4,324.9  18791        4.3         4.3
          G      382 4,500.7  18741        4.5         4.5
          H      368 5,216.7  18795        5.2         5.2
          I      334 5,946.2  18823        5.9         5.9
          J      363 6,294.6  18710        6.3         6.3
Very Good D      357 3,470.5  18542        3.5         3.5
          E      352 3,214.7  18731        3.2         3.2
          F      357 3,778.8  18777        3.8         3.8
          G      354 3,872.8  18818        3.9         3.9
          H      337 4,535.4  18803        4.5         4.5
          I      336 5,255.9  18500        5.3         5.3
          J      336 5,103.5  18430        5.1         5.1

In [15]:
dict_agg = {'carat':[min,max], 'price':[np.mean,mean_kilo]}
dict_agg

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean(a, axis=None, dtype=None, out=None, keepdims=<no value>)>,
  <function __main__.mean_kilo(x)>]}

In [16]:
df.groupby(['cut','color']).aggregate(dict_agg)

                carat       price
                  min max    mean mean_kilo
cut       color
Fair      D       0.2 3.4 4,291.1       4.3
          E       0.2 2.0 3,682.3       3.7
          F       0.2 2.6 3,827.0       3.8
          G       0.2 2.6 4,239.3       4.2
          H       0.3 4.1 5,135.7       5.1
          I       0.4 3.0 4,685.4       4.7
          J       0.3 5.0 4,975.7       5.0
Good      D       0.2 2.0 3,405.4       3.4
          E       0.2 3.0 3,423.6       3.4
          F       0.2 2.7 3,495.8       3.5
          G       0.2 2.8 4,123.5       4.1
          H       0.2 3.0 4,276.3       4.3
          I       0.3 3.0 5,078.5       5.1
          J       0.3 3.0 4,574.2       4.6
Ideal     D       0.2 2.8 2,629.1       2.6
          E       0.2 2.3 2,597.6       2.6
          F       0.2 2.5 3,374.9       3.4
          G       0.2 2.5 3,720.7       3.7
          H       0.2 3.5 3,889.3       3.9
          I       0.2 3.2 4,452.0       4.5
          J       0.2 3.0 4,918.2       4.9
Premium   D       0.2 2.6 3,631.3       3.6
          E       0.2 3.0 3,538.9       3.5
          F       0.2 3.0 4,324.9       4.3
          G       0.2 3.0 4,500.7       4.5
          H       0.2 3.2 5,216.7       5.2
          I       0.2 4.0 5,946.2       5.9
          J       0.3 4.0 6,294.6       6.3
Very Good D       0.2 2.6 3,470.5       3.5
          E       0.2 2.5 3,214.7       3.2
          F       0.2 2.5 3,778.8       3.8
          G       0.2 2.5 3,872.8       3.9
          H       0.2 3.0 4,535.4       4.5
          I       0.2 4.0 5,255.9       5.3
          J       0.2 2.7 5,103.5       5.1

In [17]:
def f_filter(x):
    return mean_kilo(x['price']) > 6

In [18]:
df.groupby(['cut','color']).filter(f_filter)

       carat      cut color clarity  depth  table  price   x   y   z
56       0.3  Premium     J     SI2   59.3   61.0    405 4.4 4.4 2.6
324      1.0  Premium     J     SI2   62.3   58.0   2801 6.5 6.3 4.0
366      0.9  Premium     J     SI2   61.9   57.0   2807 6.2 6.2 3.8
525      1.2  Premium     J      I1   60.2   61.0   2825 6.9 6.8 4.1
744      0.3  Premium     J     VS1   62.8   58.0    557 4.4 4.4 2.8
...      ...      ...   ...     ...    ...    ...    ...  ..  ..  ..
53031    1.0  Premium     J      I1   60.7   59.0   2602 6.4 6.4 3.9
53494    1.0  Premium     J     SI2   58.3   62.0   2683 6.5 6.4 3.8
53498    1.0  Premium     J     SI2   59.3   56.0   2683 6.5 6.5 3.8
53691    0.9  Premium     J     SI2   62.7   57.0   2717 6.1 6.1 3.8
53699    0.9  Premium     J     SI2   63.0   59.0   2717 6.1 6.1 3.9

[808 rows x 10 columns]

In [19]:
df.groupby(['cut','color']).filter(f_filter)['cut'].unique()

array(['Premium'], dtype=object)

In [20]:
df.groupby(['cut','color']).filter(lambda x: (np.mean(x['price'])/1000)>6)

       carat      cut color clarity  depth  table  price   x   y   z
56       0.3  Premium     J     SI2   59.3   61.0    405 4.4 4.4 2.6
324      1.0  Premium     J     SI2   62.3   58.0   2801 6.5 6.3 4.0
366      0.9  Premium     J     SI2   61.9   57.0   2807 6.2 6.2 3.8
525      1.2  Premium     J      I1   60.2   61.0   2825 6.9 6.8 4.1
744      0.3  Premium     J     VS1   62.8   58.0    557 4.4 4.4 2.8
...      ...      ...   ...     ...    ...    ...    ...  ..  ..  ..
53031    1.0  Premium     J      I1   60.7   59.0   2602 6.4 6.4 3.9
53494    1.0  Premium     J     SI2   58.3   62.0   2683 6.5 6.4 3.8
53498    1.0  Premium     J     SI2   59.3   56.0   2683 6.5 6.5 3.8
53691    0.9  Premium     J     SI2   62.7   57.0   2717 6.1 6.1 3.8
53699    0.9  Premium     J     SI2   63.0   59.0   2717 6.1 6.1 3.9

[808 rows x 10 columns]

In [21]:
df.groupby(['cut','color']).filter(lambda x: (np.mean(x['price'])/1000)>6)['cut'].unique()

array(['Premium'], dtype=object)