## Duplicados

In [2]:
import pandas as pd
df = pd.DataFrame({'a': ['w'] * 4 + ['x'] * 3 + ['y'] * 2 + ['z']+['v'], 
                   'b': [1, 1, 1, 1, 2, 2, 2, 3, 3, 4,5]})
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [3]:
df.duplicated()

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [4]:
df.duplicated(keep='first')

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [5]:
df.duplicated(keep='last')

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8     False
9     False
10    False
dtype: bool

In [6]:
df[~ df.duplicated()]      #Que no sean duplicados

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [8]:
df.duplicated(keep=False)       #Los que estan repetidos

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
dtype: bool

In [9]:
df[df.duplicated(keep=False)]          #Los que estan repetidos

   a  b
0  w  1
1  w  1
2  w  1
3  w  1
4  x  2
5  x  2
6  x  2
7  y  3
8  y  3

In [10]:
df.drop_duplicates()    #Se queda con la primera opcion al quitar duplicados

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [13]:
df.drop_duplicates(['b'],keep='first')

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [96]:
df2 = pd.read_csv('C:\\Jupyter\\7.MLCasoPractico\\machine_learning\\peliculas.csv')
df2.head(2)

,movie_title,title_year,color,aspect_ratio,duration,language,country,duration.1,genres,content_rating,plot_keywords,director_name,actor_1_name,actor_2_name,actor_3_name,cast_total_facebook_likes,budget,imdb_score,gross
0,Avatar,2009.0,Color,1.78,178.0,English,USA,178.0,Action|Adventure|Fantasy|Sci-Fi,PG-13,avatar|future|marine|native|paraplegic,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,4834,237000000.0,7.9,760505847.0
1,Pirates of the Caribbean: At World's End,2007.0,Color,2.35,169.0,English,USA,169.0,Action|Adventure|Fantasy,PG-13,goddess|marriage ceremony|marriage proposal|pi...,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,48350,300000000.0,7.1,309404152.0

In [97]:
df2.duplicated().value_counts()           #df2.movie_title.duplicated().value_counts()

False    4944
True       99
dtype: int64

In [98]:
df2 = df2.drop_duplicates()  #Quitamos duplicados, pero Vemos que siguen habiendo duplicados, por diferencias en num decimales 
#df2 = df2.drop_duplicates(['movie_title'],keep='first')

In [100]:
df2.movie_title.duplicated().value_counts()

False    4917
True       27
Name: movie_title, dtype: int64

In [101]:
mask = df2.movie_title.duplicated()  #Creamos una mascara para traer los valores que no estan repetidos, podriamos haber usado esto desde un principio 
df2 = df2[mask == False]
df2.head(2)

,movie_title,title_year,color,aspect_ratio,duration,language,country,duration.1,genres,content_rating,plot_keywords,director_name,actor_1_name,actor_2_name,actor_3_name,cast_total_facebook_likes,budget,imdb_score,gross
0,Avatar,2009.0,Color,1.78,178.0,English,USA,178.0,Action|Adventure|Fantasy|Sci-Fi,PG-13,avatar|future|marine|native|paraplegic,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,4834,237000000.0,7.9,760505847.0
1,Pirates of the Caribbean: At World's End,2007.0,Color,2.35,169.0,English,USA,169.0,Action|Adventure|Fantasy,PG-13,goddess|marriage ceremony|marriage proposal|pi...,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,48350,300000000.0,7.1,309404152.0

In [102]:
len(df2[mask == False])

4917

In [103]:
df2.movie_title.duplicated().value_counts()

False    4917
Name: movie_title, dtype: int64

4917