In [3]:
import pandas as pd
pd.__version__
import numpy as np

In [4]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]}

In [5]:
df = pd.DataFrame(dict_data)

In [6]:
dir_pandas = 'C:\\Jupyter\\5.Numpy_Pandas\\1.Pandas\\6.To_Read\\{}'   #Carpeta a donde va el archivo

## CSV

In [7]:
df.to_csv(dir_pandas.format('test.csv'), index = False)       #Mandar

In [8]:
df_read = pd.read_csv(f'C:\\Jupyter\\5.Numpy_Pandas\\1.Pandas\\6.To_Read\\test.csv')#, sep = '|')      #Leer  (si no esta separado por comas separalo asi sep = | )
df_read.head(1)

   edad   cm pais genero   Q1   Q2
0    10  115   co      M  5.0  7.0

In [38]:
#df.to_csv(dir_pandas, sep = '|', index = False)

## EXCEL

In [9]:
df.to_excel(dir_pandas.format('test.xlsx'), index=False, sheet_name='Hoja_uno')

## JSON

In [10]:
df.to_json(dir_pandas.format('test.json'))

In [11]:
json = pd.read_json(dir_pandas.format('test.json'))
json.head(1)

   edad   cm pais genero   Q1  Q2
0    10  115   co      M  5.0   7

## PICKLE

In [12]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [13]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

## PARQUET

In [15]:
df.to_parquet(dir_pandas.format('test.parquet'))   #Archivos para Big Data

In [ ]:
pd.read_parquet(dir_pandas.format('test.parquet'))

## HDF

In [16]:
df.to_hdf(dir_pandas.format('test.hdf'),key='data',format='table')   #Big Data Hadoop

In [17]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

## https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-sql